body
{
background color: white;
}

h1
{
font-weight: bolder;
}

img
{
float: right;
height: 300px;
border: 5px solid;



}

p
{
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
}



}



.split
{
	margin-left:950px 
}

.left
{
	left: 0;
	margin-right: 300px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 10%;
  background: #f1f1f1;
  
}

/* Style the submit button */
form.example button {
  float: right;
  width: 3%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background:black;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

a
 {
 	text-decoration: none;
 } 












