body
{
background color: white;
}

h1
{
font-weight: bolder;
}

img
{
float: right;
height: 300px;
border: 5px solid;



}

p
{
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
}

div
{
	height: 770px;
	width: 300px;
	border-radius:2px ;
	display: block;
	border: 2px solid;
	margin-right: 400px;
	background-color: grey;
    

}

.split
{
	margin-left:950px 
}

.left
{

left: 0;
}

.right
{
right: 0;
}

.warp
{
  margin-right:  400px;
}














