.font-size
{
font-size: large;
color: orange;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
 
}

/* Control the right side */
.right {
  right: 0;
 
}
h1
{
color: orange;
}

