.parallax{
    background-image: url("https://wallpapercave.com/wp/wp3693599.jpg");
    background-repeat: no-repeat;
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


body{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#wick-style{
    background-color: white;
    color: #525966;
    font-size: 20px;
    height: 18vh;
    width: 90vw;
    align-items: center;

}

span#wick-head {
    background-color: #FFE600;
    color: black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;

}

.naruto-background{
    background-image: url("https://wallpapercave.com/wp/wp2601303.jpg");
    background-repeat: no-repeat;
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#naruto-style{
        background-color: white;
    color: #525966;
    font-size: 20px;
    height: 18vh;
    width: 90vw;
    align-items: center;

}

.war-background{
    background-image: url("https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1617817518136-7XT9Q9LUA8CJ9MPAY323/chris-pratts-sci-fi-action-film-the-tomorrow-war-gets-a-summer-release-on-amazon.jpg");
    background-repeat: no-repeat;
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#war-style {
    background-color: white;
    color: #525966;
    font-size: 20px;
    height: 18vh;
    width: 90vw;
    align-items: center;
}