body{
	background-color: red;
}





.flexbox-container{
	display: flex;
    justify-content: space-around;  /*different cmds in flex ar
    space-around, space-evenly,space-between,flex-start,flex-end,center*/
    margin-right: 30px;
    border:5px solid black;
}
/*
.text-deco{
	background-color: lightblue;
	height: 50px;
	width: 200px;
	text-align:center;
	padding-top: 20px;
}

.text-deco1{
	background-color: lightgreen;
	height: 50px;
	width: 200px;
	text-align:center;
	margin-right: auto;
    padding-top: 20px;
}
*/
.flexbox-container >div{
      flex: 1;
       /*flex-grow, flex-shrink,flex-basis*/
}

.home{
      
       text-decoration:none;
       font-size: 30px;
       background-color: lightgreen;
}


.contact{
       text-decoration:none;
       font-size: 30px;   
       background-color: lightgreen;                 
                           
}

.service{
       text-decoration:none;
       font-size: 30px;
       background-color: lightgreen;
}

.about{
       text-decoration:none;
       font-size: 30px;
       background-color: lightgreen;
}

.signup{
	background-color:  rgba(0,0,0,0.2);
	width: 300px;
	padding: 25px 25px 10px 25px;
	float: right;
	border-radius:40px;
	height: 1040px;
}



input[type=text], input[type=password] {
  width: 100%;
  padding:10px;
  margin: 5px 5px 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;	
  border-radius: 20px;
  float:center;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.super{
	font-family: 'Roboto Mono', monospace;
	font-size:20px;
	color: #9933FF;
}
