@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body{
    background-image: url("https://i.pinimg.com/originals/11/2f/d7/112fd753e8ce6c74c82365232d4f534b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

li, a, button{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 50px;
    height: 30px;

}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,136,169,0.5);
}